<!-- Desktop menu -->
<nav class="m-auto w-full bg-bg-pri">
  <div class="flex w-[80%] m-auto p-2 items-center">
    <ng-container *ngFor="let link of links; let first = first; last as isLast">
      <a
        class="nav-link"
        [routerLink]="['/', link.path]"
        *ngIf="first; else normalLink"
      >
        <img src="assets/images/title-txt.webp" alt="Logo" />
      </a>

      <ng-template #normalLink>
        <a
          class="nav-link hidden tablet:block"
          [class.end-link]="isLast"
          [routerLink]="['/', link.path]"
          >{{ link.path }}</a
        >
      </ng-template>
    </ng-container>
  </div>
</nav>

<!-- Mobile menu -->
<div class="flex absolute top-5 right-24">
  <div class="dropdown inline ml-auto">
    <button
      class="tablet:hidden btn btn-lg dropdown-toggle bg-slate-500 text-slate-50"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    ></button>
    <div
      class="dropdown-menu dropdown-menu-right"
      aria-labelledby="dropdownMenuButton"
    >
      <ng-container *ngFor="let link of links">
        <a class="dropdown-item capitalize" [routerLink]="['/', link.path]">{{
          link.path
        }}</a>
      </ng-container>
    </div>
  </div>
</div>
