<form
  action="https://formspree.io/f/xeqwgdyq"
  method="POST"
  class="flex flex-col"
>
  <label> Name *: </label>
  <input type="text" name="name" required />
  <label>
    Email:
    <input type="email" name="email" />
  </label>
  <label>
    Message *:
    <textarea name="message" required></textarea>
  </label>
  <!-- your other form fields go here -->
  <button
    type="submit"
    class="pt-3 bg-slate-800 border-[3px] font-bold rounded-md w-28 h-16 flex justify-center mx-auto"
  >
    Send
  </button>
</form>
