<footer class="w-full bg-[#252525] text-txt-pri mt-auto">
  <div class="flex w-[80%] m-auto p-5">
    <div class="phone:w-[50%]">
      <h2>Vaservah</h2>
      <p>&copy; 2022 Azaber</p>
    </div>
    <div class="hidden phone:w-[50%] phone:block">
      <div *ngFor="let link of links" class="p-2 flex flex-col text-right">
        <a
          class="my-2 hover:text-slate-400 capitalize"
          [routerLink]="['/', link.path]"
          >{{ link.path }}</a
        >
      </div>
    </div>
  </div>
</footer>
